// SPDX-FileCopyrightText: 2023 Mischback
// SPDX-License-Identifier: MIT
// SPDX-FileType: SOURCE

body {
  --if-body-bg: #{$color-teal-dim-darkest};

  /* The background of the ``<main>`` container
   *
   * - min 3.0 with ``--if-root-tab-bg`` (WCAG 2.1 for control elements)
   * - min 4.5 with ``--if-main-fg``
   * - min 3.0 with ``--if-button-bg-light`` / ``--if-button-bg-dark``
   * - min 3.0 with ``--if-button-hover-bg-light`` / ``--if-button-hover-bg-dark``
   * - min 3.0 with ``--if-danger-button-bg-light`` / ``--if-danger-button-bg-dark``
   */
  --if-main-bg: #{$color-teal-dim-lightest};

  /* The foreground of the ``<main>`` container
   *
   * - min 4.5 with ``--if-main-bg``
   */
  --if-main-fg: #{$color-teal-dark};

  /* The background of the (inactive) root tabs
   *
   * - min 3.0 with ``--if-root-tab-fg``
   */
  --if-root-tab-bg: #{$color-teal-dim};

  /* The foreground of the (inactive) root tabs
   *
   * - min 3.0 with ``--if-root-tab-bg``
   */
  --if-root-tab-fg: #{$color-teal-dim-lightest};

  /* The color of the focus indicator of the root tabs
   *
   * - min 3.0 with ``--if-root-tab-bg``
   */
  --if-root-tab-focus: #{$color-red-light};

  /* Background color of card-like containers/boxes.
   *
   * This is more of a styling-related setting, there is no minimum contrast-ratio required to
   * ``--if-main-bg``.
   *
   * - min 4.5 with ``--if-content-fg``
   * - min 3.0 with ``--if-button-bg-light`` / ``--if-button-bg-dark``
   * - min 3.0 with ``--if-button-hover-bg-light`` / ``--if-button-hover-bg-dark``
   * - min 3.0 with ``--if-danger-button-bg-light`` / ``--if-danger-button-bg-dark``
   */
  --if-content-bg: #{$color-teal-dim-lighter};

  /* Foreground/text color of card-like containers/boxes.
   *
   * - min 4.5 with ``--if-content-bg``
   */
  --if-content-fg: #{$color-teal-dark};

  /* The background of text inputs.
   *
   * Note: For the ``color-form`` this is not applied to the actual ``<input>``
   *       element but rather the ``.text-input-wrapper`` container.
   *
   * - min 4.5 with ``--if-text-input-fg``
   */
  --if-text-input-bg: #{$color-teal-dim-lighter};

  /* The foreground/text color of text inputs.
   *
   * - min 4.5 with ``--if-text-input-bg``
   */
  --if-text-input-fg: #{$color-teal-dark};

  /* The background-color of text inputs on hover.
   *
   * - min 4.5 with ``--if-text-input-hover-fg``
   */
  --if-text-input-hover-bg: #{$color-teal-dim};

  /* The foreground/text color of text inputs on hover.
   *
   * - min 4.5 with ``--if-text-input-hover-bg``
   */
  --if-text-input-hover-fg: #{$color-teal-light};

  /* Focus indicator of the text inputs.
   *
   * Note: The focus indicator is applied to the ``.text-input-wrapper``
   *       container. The container's [surrounding color] *should be*
   *       ``--if-content-bg``.
   *
   * - min 3.0 with the [surrounding color]
   */
  --if-text-input-focus: #{$color-red-light};

  /* The background of ``<legend>`` elements.
   *
   * - min 3.0 with ``--if-form-fieldset-legend-fg``
   */
  --if-form-fieldset-legend-bg: #{$color-teal-dim};

  /* The foreground/text color of ``<legend>`` elements.
   *
   * - min 3.0 with ``--if-form-fieldset-legend-bg``
   */
  --if-form-fieldset-legend-fg: #{$color-teal-dim-lightest};

  /* The background of the default button.
   *
   * This is meant to be a visible four-step gradient. *lightest* and *darkest*
   * are very thin, they are not required to pass WCAG contrast ratios. The following
   * contrast requirements are to be applied to *light* and *dark*.
   *
   * - min 3.0 with ``--if-main-bg``
   * - min 3.0 with ``--if-content-bg``
   * - min 3.0 with ``--if-button-focus``
   * - min 3.0 with ``--if-button-fg``
   */
  --if-button-bg-lightest: #{$color-teal-dim-light};
  --if-button-bg-light: #{$color-teal-dim};
  --if-button-bg-dark: #{$color-teal-dim-dark};
  --if-button-bg-darkest: #{$color-teal-dim-darker};

  /* Focus indicator of the default button.
   *
   * - min 3.0 with ``--if-button-bg-light`` / ``--if-button-bg-dark``
   */
  --if-button-focus: #{$color-yellow};

  /* Foreground / text color of the default button.
   *
   * - min 3.0 with ``--if-button-bg-light`` / ``--if-button-bg-dark``
   */
  --if-button-fg: #{$color-light-grey};

  /* The background of all buttons' ``:hover`` state.
   *
   * This is meant to be a visible four-step gradient. *lightest* and *darkest*
   * are very thin, they are not required to pass WCAG contrast ratios. The following
   * contrast requirements are to be applied to *light* and *dark*.
   *
   * - min 3.0 with ``--if-main-bg``
   * - min 3.0 with ``--if-content-bg``
   * - min 3.0 with ``--if-button-hover-focus``
   * - min 3.0 with ``--if-button-hover-fg``
   */
  --if-button-hover-bg-lightest: #{$color-unstyled};
  --if-button-hover-bg-light: #{$color-unstyled};
  --if-button-hover-bg-dark: #{$color-unstyled};
  --if-button-hover-bg-darkest: #{$color-unstyled};

  /* Focus indicator of all buttons' ``:hover`` state.
   *
   * - min 3.0 with ``--if-button-hover-bg-light`` / ``--if-button-hover-bg-dark``
   */
  --if-button-hover-focus: #{$color-unstyled};

  /* Foreground / text color of all buttons' ``:hover`` state.
   *
   * - min 3.0 with ``--if-button-hover-bg-light`` / ``--if-button-hover-bg-dark``
   */
  --if-button-hover-fg: rgb(0 0 0);

  /* The background of the **danger** button.
   *
   * **Danger buttons** are used for non-recoverable actions, like deleting an item.
   *
   * This is meant to be a visible four-step gradient. *lightest* and *darkest*
   * are very thin, they are not required to pass WCAG contrast ratios. The following
   * contrast requirements are to be applied to *light* and *dark*.
   *
   * - min 3.0 with ``--if-main-bg``
   * - min 3.0 with ``--if-content-bg``
   * - min 3.0 with ``--if-button-focus``
   * - min 3.0 with ``--if-button-fg``
   */
  --if-danger-button-bg-lightest: #{$color-red-light};
  --if-danger-button-bg-light: #{$color-red};
  --if-danger-button-bg-dark: #{$color-red-dark};
  --if-danger-button-bg-darkest: #{$color-red-darkest};

  /* Focus indicator of the **danger** button.
   *
   * - min 3.0 with ``--if-danger-button-bg-light`` / ``--if-danger-button-bg-dark``
   */
  --if-danger-button-focus: #{$color-yellow};

  /* Foreground / text color of the **danger** button.
   *
   * - min 3.0 with ``--if-danger-button-bg-light`` / ``--if-danger-button-bg-dark``
   */
  --if-danger-button-fg: #{$color-light-grey};

  /* Colors for the **toggle** buttons.
   *
   * - min 3.0 with ``--if-main-bg``
   * - min 3.0 with ``--if-content-bg``
   */
  --if-toggle-button-off: #{$color-red};
  --if-toggle-button-on: #{$color-green};
  --if-toggle-button-undefined: #{$color-light-grey};
}
