// SPDX-FileCopyrightText: 2023 Mischback
// SPDX-License-Identifier: MIT
// SPDX-FileType: SOURCE

// FIXME: [#32] Build an overall colorscheme
$overall-content-bg: rgb(222 222 222);
$overall-box-shadow-color: rgb(0 0 0);
$overall-shadow-as-border-width: 1px;
$overall-drop-shadow-size: 3px;
$overall-box-shadow: (-$overall-shadow-as-border-width)
    (-$overall-shadow-as-border-width) $overall-box-shadow-color,
  $overall-shadow-as-border-width (-$overall-shadow-as-border-width)
    $overall-box-shadow-color,
  (-$overall-shadow-as-border-width) $overall-shadow-as-border-width
    $overall-box-shadow-color,
  $overall-drop-shadow-size $overall-drop-shadow-size $overall-box-shadow-color;

/* The ``<input type="radio" ...>`` are controlling, which tab is visible. */
.ctrl-tab-radio {
  display: none;
}

nav {
  margin: 0 0 $overall-shadow-as-border-width 2em;

  ul {
    margin: 0;
    padding: 0;
    list-style: none;

    li {
      display: inline-block;
      margin: 0 0.75em 0 0;

      /* This is the actual tab header, which allows switching tabs */
      /* stylelint-disable selector-max-compound-selectors */
      .tab {
        display: inline-block;
        position: relative;
        margin: 0;
        padding: 10px 20px;
        border-radius: 0.5rem 0.5rem 0 0;
        background-color: #ccc;
        box-shadow: $overall-box-shadow;
        cursor: pointer;

        /* This pseudo-element is used to cover the ``box-shadow`` falling to the
         * ``<main>``container.
         */
        /* stylelint-disable max-nesting-depth */
        &::after {
          content: "";
          display: block;
          position: absolute;
          bottom: (
            -$overall-drop-shadow-size - $overall-shadow-as-border-width
          );
          left: (-$overall-shadow-as-border-width);
          width: calc(
            100% + $overall-shadow-as-border-width + $overall-drop-shadow-size
          );
          height: $overall-drop-shadow-size;
          background-color: $overall-content-bg;
        }
        /* stylelint-enable max-nesting-depth */
      }
      /* stylelint-enable selector-max-compound-selectors */
    }
  }
}

main {
  margin: 0 2 * $overall-drop-shadow-size;
  padding: 0.25em 1em;
  border-radius: 0.5rem;
  background-color: $overall-content-bg;
  box-shadow: $overall-box-shadow;

  /* Hide all panels by default. */
  .panel {
    display: none;
  }
}

/* Show the tabs, if the corresponding ``<input type="radio" ...`` is
 * activated.
 */
/* stylelint-disable selector-max-id */
#ctrl-palette:checked ~ main #color-palette,
#ctrl-color-form:checked ~ main #panel-color-form,
#ctrl-grid:checked ~ main #contrast-grid {
  display: block;
}

#ctrl-palette:checked ~ nav #tab-palette,
#ctrl-color-form:checked ~ nav #tab-color-form,
#ctrl-grid:checked ~ nav #tab-grid {
  position: relative;
  background-color: $overall-content-bg;

  /* This pseudo-element is used to break the border of the ``<main>`` element.
   * This should visualize an active tab.
   */
  &::before {
    content: "";
    display: block;
    position: absolute;
    bottom: (-$overall-drop-shadow-size);
    left: 0;
    width: 100%;
    height: $overall-drop-shadow-size;
    background-color: $overall-content-bg;
  }
}
/* stylelint-enable selector-max-id */
