# Track actions with artificial stamps
.make-stamps/

# NodeJS modules
node_modules/
.npm/

# The actual release / public / distribution
dist/

# FIXME: Just for this PR!
input-method-rgb.src
input-method-oklch.src
