// SPDX-FileCopyrightText: 2023 Mischback
// SPDX-License-Identifier: MIT
// SPDX-FileType: SOURCE

#contrast-grid table {
  border: 1px solid #000;

  tr {
    background-color: color(
      xyz var(--row-color-x) var(--row-color-y) var(--row-color-z)
    );

    /* stylelint-disable selector-max-compound-selectors */
    td {
      color: color(
        xyz var(--col-color-x) var(--col-color-y) var(--col-color-z)
      );

      p {
        margin: 0;
        padding: 0;
      }

      .wcag-cat {
        font-size: 1.5em;
        font-weight: bold;
      }

      .wcag-contrast {
        margin-top: 0.25em;
        text-align: end;
      }
    }
    /* stylelint-enable selector-max-compound-selectors */
  }
}
