// SPDX-FileCopyrightText: 2023 Mischback
// SPDX-License-Identifier: MIT
// SPDX-FileType: SOURCE

#notifications {
  position: fixed;
  top: 10px;
  right: 10px;
  width: 25%;

  > section {
    @include content-box-shadow;

    margin: 0.25em 0;
    padding: 0.5em 1em;
    transition: opacity 500ms ease-in-out;
    border-radius: $border-radius-fraction * 2;

    p {
      display: inline-block;
      margin: 0;
      padding: 0;
    }

    button {
      margin-left: 0.5em;
    }

    /* purgecss start ignore */
    /* stylelint-disable selector-no-qualifying-type */
    &.message {
      background: $color-notification-message-bg;
      color: $color-notification-message-fg;
    }

    &.info {
      background: $color-notification-info-bg;
      color: $color-notification-info-fg;
    }

    &.error {
      background: $color-notification-error-bg;
      color: $color-notification-error-fg;
    }

    &.notify-fade-out {
      opacity: 0;
    }
    /* stylelint-enable selector-no-qualifying-type */

    /* purgecss start ignore */
  }
}
