// SPDX-FileCopyrightText: 2023 Mischback
// SPDX-License-Identifier: MIT
// SPDX-FileType: SOURCE

#notifications {
  position: fixed;
  top: 10px;
  right: 10px;
  width: 25%;

  > section {
    @include content-element-shadow;

    margin: 0.25em 0;
    padding: 0.25em 0.5em;
    transition: opacity 500ms ease-in-out;
    border-radius: 2 * $border-radius-fraction;

    p {
      display: inline-block;
      margin: 0;
      padding: 0;
    }

    button {
      margin-left: 0.5em;
    }

    /* stylelint-disable selector-no-qualifying-type */
    &.message {
      // FIXME: [#32] Build an overall colorscheme
      background-color: #9c9;
    }

    &.info {
      // FIXME: [#32] Build an overall colorscheme
      background-color: rgb(255 220 0);
    }

    &.error {
      // FIXME: [#32] Build an overall colorscheme
      background-color: rgb(196 0 0);
      color: #fff;
    }

    &.notify-fade-out {
      opacity: 0;
    }
    /* stylelint-enable selector-no-qualifying-type */
  }
}
