// SPDX-FileCopyrightText: 2023 Mischback
// SPDX-License-Identifier: MIT
// SPDX-FileType: SOURCE

$color-black: rgb(0 0 0);
$color-teal-dim-dark: rgb(0 16 15); // OkLCH (15% 10% 190)
$color-teal-dim: rgb(72 107 104); // OkLCH (50% 10% 190)
$color-teal-dim-light: rgb(161 198 195); // OkLCH (80% 10% 190)

$color-teal-dark: rgb(0 35 34); // OkLCH (20% 30% 190)
$color-teal: rgb(0 120 114); // OkLCH (50% 30% 190)
$color-teal-light: rgb(158 240 234); // OkLCH (90% 20% 190)

$color-red-dark: rgb(136 0 0); // OkLCH (30% 80% 60)
$color-red: rgb(211 0 0); // OkLCH (50% 80% 60)
$color-red-light: rgb(255 63 0); // OkLCH (70% 80% 60)

$color-yellow: rgb(251 198 0); // OkLCH (85% 45% 90)
