// SPDX-FileCopyrightText: 2023 Mischback
// SPDX-License-Identifier: MIT
// SPDX-FileType: SOURCE

$color-src-black: rgb(0 0 0);
$color-src-dark-grey: rgb(50 50 50);
$color-src-dark-grey-lighter: rgb(75 75 75);
$color-src-light-grey: rgb(200 200 200);
$color-src-light-grey-darker: rgb(155 155 155);
$color-src-bright-orange: rgb(248 145 57);
$color-src-yellow: rgb(248 219 57);
$color-src-bright-green: rgb(153 216 25);
$color-src-red: rgb(255 38 27);
