// SPDX-FileCopyrightText: 2023 Mischback
// SPDX-License-Identifier: MIT
// SPDX-FileType: SOURCE

$color-black: rgb(0 0 0);
$color-light-grey: rgb(222 222 222);

// $color-teal-dim-dark: rgb(0 16 15); // OkLCH (15% 10% 190)
$color-teal-dim-darkest: rgb(0 28 26); // OkLCH (20% 10% 190)
$color-teal-dim-darker: rgb(18 52 50); // OkLCH (30% 10% 190)
$color-teal-dim-dark: rgb(45 79 76); // OkLCH (40% 10% 190)
$color-teal-dim: rgb(72 107 104); // OkLCH (50% 10% 190)
$color-teal-dim-light: rgb(101 136 133); // OkLCH (60% 10% 190)
$color-teal-dim-lighter: rgb(146 183 179); // OkLCH (75% 10% 190)
$color-teal-dim-lightest: rgb(161 198 195); // OkLCH (80% 10% 190)

$color-teal-dark: rgb(0 35 34); // OkLCH (20% 30% 190)
$color-teal: rgb(0 120 114); // OkLCH (50% 30% 190)
$color-teal-light: rgb(158 240 234); // OkLCH (90% 20% 190)

$color-red-darkest: rgb(136 0 0); // OkLCH (30% 80% 60)
$color-red-dark: rgb(174 0 0); // OkLCH (40% 80% 60)
$color-red: rgb(211 0 0); // OkLCH (50% 80% 60)
$color-red-light: rgb(255 63 0); // OkLCH (70% 80% 60)

$color-yellow: rgb(251 198 0); // OkLCH (85% 45% 90)
$color-green: rgb(10 192 0); // OkLCH (80% 60% 142)
