// SPDX-FileCopyrightText: 2023 Mischback
// SPDX-License-Identifier: MIT
// SPDX-FileType: SOURCE

/* Color definitions
 *
 * These are meant to be *semantic colors*. In the final code base the actual
 * color definitions should be moved into a dedicated module.
 */
$color-unstyled: #c0f;
$color-off: $color-red;
$color-on: $color-green;
$color-notification-message-bg: $color-green;
$color-notification-message-fg: $color-teal-dim-darkest;
$color-notification-info-bg: $color-yellow;
$color-notification-info-fg: $color-teal-dim-darkest;
$color-notification-error-bg: $color-red;
$color-notification-error-fg: $color-light-grey;

/* Overall settings to create a coherent look'n'feel */
$border-radius-fraction: 0.25rem;
$focus-outline-width: 2px;
$root-element-shadow-as-border-width: 1px;
$root-element-drop-shadow-width: 2px;
