// SPDX-FileCopyrightText: 2023 Mischback
// SPDX-License-Identifier: MIT
// SPDX-FileType: SOURCE

/* stylelint-disable scss/operator-no-newline-after */
$color-form-input-text-size: 1.25em;
$color-form-input-range-width: 10em;
$color-form-input-range-track-height: 0.75em;
$color-form-input-range-thumb-size: 0.85 * $color-form-input-text-size;
/* stylelint-enable scss/operator-no-newline-after */

@import "overall-form";
@import "input-text";
@import "input-range";
@import "form-container";
