// SPDX-FileCopyrightText: 2023 Mischback
// SPDX-License-Identifier: MIT
// SPDX-FileType: SOURCE

#panel-root-color-form {
  .notations-toggles {
    @include notation-toggles;
  }

  .disclosure-content {
    margin-left: 1em;

    &.hide-disclosure {
      /* purgecss ignore current */
      display: none;
    }
  }

  p {
    max-width: 40em;
  }
}
