// SPDX-FileCopyrightText: 2023 Mischback
// SPDX-License-Identifier: MIT
// SPDX-FileType: SOURCE

.color-form-input-method {
  input {
    display: inline-block;
    margin: 0;
    font-family: $font-stack-monospace;
    font-size: $color-form-input-text-size;
  }

  input[type="text"] {
    @include content-box-shadow;

    padding: 0.25em 0.5em;
    border: 0 solid transparent;
    border-radius: $border-radius-fraction;
    background: $color-content-bg-alt;
    color: $color-content-fg;

    &:focus {
      outline: $color-focus-on-light-bg solid 2px;
      outline-offset: 3px;
      background: $color-content-bg-dim;
      color: $color-content-button-fg;
    }

    &:hover {
      background: $color-content-bg-dim;
      color: $color-content-button-fg;
    }
  }
}

#color-form-rgb {
  input[type="text"] {
    /* purgecss ignore current */

    // FIXME: ``3.5em`` is working on:
    //          - Linux / Firefox
    //          - Linux / Chromium
    width: 3.5em;
  }
}

#color-form-hsl {
  input[type="text"] {
    /* purgecss ignore current */
    width: 5em;
  }
}

#color-form-hwb {
  input[type="text"] {
    /* purgecss ignore current */
    width: 5em;
  }
}

#color-form-oklch {
  input[type="text"] {
    /* purgecss ignore current */
    width: 5em;
  }
}
