// SPDX-FileCopyrightText: 2023 Mischback
// SPDX-License-Identifier: MIT
// SPDX-FileType: SOURCE

/* stylelint-disable selector-max-id */
#color-form {
  --input-text-size: 1.25em;
  --input-text-vertical-spacing: 0.25em;
  --input-text-border-width: 1px;
}
/* stylelint-enable selector-max-id */

.color-form-input-method > fieldset {
  > input {
    margin: 0;
    padding: var(--input-text-vertical-padding) 0.5em;

    // FIXME: [#32] Build an overall colorscheme
    border: var(--input-text-border-width) solid rgb(0 0 0);

    // FIXME: Create and use font-stacks!
    font-family: monospace;
    font-size: var(--input-text-size);
  }

  /* stylelint-disable selector-no-qualifying-type */
  > input[type="range"] {
    --slider-track-height: 1em;
    --slider-thumb-height: calc(var(--slider-track-height) * 1.5);
    --slider-thumb-width: var(--slider-thumb-height);

    appearance: none;
    width: 10em;
    border: 0;
    background: transparent;
  }

  > input[type="range"]::-webkit-slider-runnable-track,
  > input[type="range"]::-moz-range-track {
    width: 100%;
    height: 1em;
    border: 1px solid rgb(0 0 0);
    border-radius: 5px;
    background: rgb(200 200 200);
    cursor: pointer;
  }

  > input[type="range"]::-webkit-slider-thumb,
  > input[type="range"]::-moz-range-thumb {
    width: var(--slider-thumb-width);
    height: var(--slider-thumb-height);
    margin-top: calc(
      (var(--slider-thumb-height) - var(slider-track-height)) / 2
    );
    border: 1px solid rgb(0 0 0);
    border-radius: 999px;
    background: rgb(255 0 255);
    cursor: pointer;
    appearance: none;
  }
  /* stylelint-enable selector-no-qualifying-type */
}
