// SPDX-FileCopyrightText: 2023 Mischback
// SPDX-License-Identifier: MIT
// SPDX-FileType: SOURCE

button {
  $button-focus-width: 2px;
  $button-focus-color: $color-focus-primary;

  @include content-box-shadow;

  padding: calc(0.25em + $button-focus-width) calc(0.5em + $button-focus-width);
  border: 0 solid transparent;
  border-radius: $border-radius-fraction;
  outline: none;

  /* prettier-ignore */
  background: linear-gradient(
    to bottom,
    rgb(0 150 144) 5%,  /* not part of the palette; oklch(60% 30% 190)*/
    $color-content-button-bg 15% 40%,  /* $color-teal*/
    rgb(0 90 86) 50% 90%,  /* not part of the palette; oklch(40% 30% 190)*/
    rgb(0 62 59) 95%  /* not part of the overall palette; oklch(30% 30% 190)*/
  );
  color: $color-content-button-fg;
  font-weight: bold;
  cursor: pointer;

  .button-text {
    margin: 0;
    padding: 0;
  }

  .focus {
    display: inline-flex;
    align-items: center;
    margin: 0;
    padding: 2px;
    border-radius: $border-radius-fraction;
  }

  /* stylelint-disable selector-no-qualifying-type */
  &.danger {
    /* prettier-ignore */
    background: linear-gradient(
      to bottom,
      rgb(249 0 0) 5%,  /* not part of the palette; oklch(60% 80% 60)*/
      $color-red 15% 40%,  /* $color-red*/
      rgb(175 0 0) 50% 90%,  /* not part of the palette; oklch(40% 80% 60)*/
      rgb(136 0 0) 95%  /* not part of the overall palette; oklch(30% 80% 60)*/
    );
    color: $color-light-grey;
  }
  /* stylelint-enable selector-no-qualifying-type */

  &:hover {
    /* prettier-ignore */
    background: linear-gradient(
      to bottom,
      rgb(255 232 0) 5%,  /* not part of the palette; oklch(95% 45% 90)*/
      $color-content-button-bg-hover 15% 40%,  /* $color-yellow!*/
      rgb(218 166 0) 50% 90%,  /* not part of the palette; oklch(75% 45% 90)*/
      rgb(186 134 0) 95%  /* not part of the palette; oklch(65% 45% 90)*/
    );
    color: $color-content-button-fg-hover;
  }

  &:focus .focus {
    outline: $button-focus-color solid $button-focus-width;
    outline-offset: 0;
  }
}

.toggle-button {
  background: none;

  .toggle-base {
    @include content-box-shadow;

    display: inline-block;
    position: relative;
    width: 2em;
    height: 1em;
    margin: 0 0.5em 0 0.1em;
    padding: 0;
    border-radius: $border-radius-fraction;
    background-color: rgb(222 222 222);

    > .toggle-thumb {
      @include content-box-shadow;

      display: inline-block;
      position: absolute;
      top: -0.05em;
      left: calc(50% - 0.55em);
      width: 1.1em;
      height: 1.1em;
      border-radius: 999px;
      background-color: #999;
    }
  }

  &[aria-pressed="true"] .toggle-base {
    background-color: #0f0;

    > .toggle-thumb {
      left: calc(100% - 1em);
    }
  }

  &[aria-pressed="false"] .toggle-base {
    background-color: #f00;

    > .toggle-thumb {
      left: -0.1em;
    }
  }
}
