// SPDX-FileCopyrightText: 2023 Mischback
// SPDX-License-Identifier: MIT
// SPDX-FileType: SOURCE

#panel-root-palette {
  .display-mode,  // FIXME: [#32] Probably these will require dedicated blocks!
  .notations-toggles {
    @include horizontal-list;

    margin: 0.5em 0 1em;
    text-align: right;

    > li {
      margin: 0 0 0 1em;
    }
  }
}
