* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Verdana, sans-serif;
    background-color: #ccc;
    box-sizing: border-box;
}

#contrast-grid {
    display: inline-box;
    margin-top: 1em;
    margin-bottom: 1em;
    padding: 1em;
    background-color: #000;
}

.grid-element {
    padding: 0.5em;
    font-size: 0.7em;
    display: inline-block;
    width: 6em;
    height: 6em;
    text-align: right;
    border: 1px solid #000;
}

.grid-element .w3cat {
    font-weight: bold;
    font-size: 2em;
}

.grid-element .color-value {
    font-weight: bold;
}
